:root {
  // Colors
  --color-border: darkblue;
  --color-footer: lightblue;

  // Spacing
  --padding-section: 2rem;

  // Board
  --cell-size: 3rem;
  --max-height-board: 150rem;

  // Other
  --max-width: 50rem;
  --border: 2px solid var(--color-border);
  --border-radius-sm: 0.2rem;
}
