:root {
  // Colors
  --color-border: darkblue;
  --color-footer: lightblue;

  // Spacing
  --m-section: 2rem;
  --p-min: 0;

  // Board
  --cell-size: 2.5rem;
  --max-height-board: 150rem;

  // Other
  --max-width-sm: 30rem;
  --max-width-md: 40rem;
  --max-width-lg: 60rem;
  --border: 2px solid var(--color-border);
  --border-radius-sm: 0.2rem;

  // Breakpoints
}

@media screen and (min-width: $br-sm) {
  :root {
    --p-min: 1rem;
  }
}
