.board {
  display: grid;
  max-height: var(--max-height-board);
  align-items: center;
  border: var(--border);
  border-radius: var(--border-radius-sm);
  grid-template-columns: repeat(
    auto-fit,
    minmax(calc(var(--cell-size) * 1.1), 1fr)
  );
  grid-template-rows: repeat(
    auto-fit,
    minmax(calc(var(--cell-size) * 1.1), 1fr)
  );
  justify-items: center;
}
